.TypeEffect {
    margin-left: 74vw;
    margin-top: 60vh;
    position: absolute;
    color: #f1f1f1;
    padding-bottom: 4rem;
    font-weight: 700;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.6px;

    @media screen and (max-width:768px) {
      margin-top: 53vh;
      margin-left: 71vw;
    }
  }